.pie-charts{
  margin-bottom: 75px;
}

.pie{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.table-title{
  margin-left: 20%;
}

.table-header{
  margin-top: 75px;
}

#claws .highcharts-button.highcharts-contextbutton{
  display: none;
}
#claws .highcharts-title{
  display: none;
}
