@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  src:url('assets/fonts/Montserrat-Regular.ttf') format('ttf');
}

body{
  background: #1f2237;
  color: #fff;
font-family: 'Abel', sans-serif;
}

button{
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.page-icons{
  margin-top: 15px;
  font-size: 45px;
  float: right;
}


.headline{
  padding-top: 65px;
  margin-bottom: 65px;
}

.headline a {
border: 2px solid #d53d5e;
  border-radius: 15px;
  margin: 15px;
  color: #fff;
  text-decoration: none;
}
.highcharts-contextbutton,
.highcharts-credits{
display: none;
}

.highcharts-background{
  color: transparent;
}

.wrapper{
  margin-bottom: 45px;
}
