body{
  background: #1f2237;
  color: #fff;
font-family: 'Abel', sans-serif;
}

.page-icons{
  margin-top: 15px;
  font-size: 45px;
  float: right;
}


.headline{
  padding-top: 65px;
  margin-bottom: 65px;
}

.headline a {
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 15px;
  color: #fff;
}

.highcharts-credits{
display: none;
}

.highcharts-background{
  color: transparent;
}
